html {
  scroll-behavior: smooth;
}


/*header section*/
header {

  font-family: "Caveat";
  text-align: center;
}

#header-div {
  display:block;
  position: relative;
  width: 100%;
  height: 120px;
  background-color: black;
  background-image: url("../images/headerbg.jpg");
  background-repeat: repeat;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#header-bar {
  display:block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  padding-right: 40px;
  text-align: right;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}



#logo-div {
  display:block;
  position: absolute;
  left: 20px;
  top: 15px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255, 0.6);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 15px;
  z-index: 1;
}



.weather-icon {
  width: 80px;
}

.weather-icon-lg {
  width: 120px;
  
}


.icon-div {
  display: inline-block;
  width: 230px;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 10px;
  padding: 10px;
  text-transform: capitalize;
  color:rgb(152, 152, 152);
  
}




/*weather history section*/
.weather-history-tab {

  display: block;
  width: 100%;
  max-width: 350px;
  font-size:  16px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.weather-history-tab:hover {

  background-color:antiquewhite;
}




/*search section*/
#search-input {

  width: 100%;
  max-width: 350px;
  height: 50px;
  font-size:  20px;
  border-radius: 5px;
  padding: 10px;
}




#search-sec {

  display: block;
  padding: 20px;
  margin-bottom: 30px;
  
}


#search-div {
  display: block;
  min-height: 620px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}


/*loading section*/
#loading {

  display: none;
  position: absolute;
  width: 100vh;
  height: 100%;
  text-align: center;
  padding: 70px 0;
}

#loading img {

  width: 100px;
}


/*forcast section*/

#forcast-sec {
  display: block;
  padding-left: 25px;
  padding-right: 25px;
  min-height: 600px;
}

#world-weather-flex {

  display: flex;
  flex-flow: wrap;
  flex-direction: row;
}


/*popular cities section*/

#world-weather h1 {

  display: block;
  font-size: 35px;
}

.popular-city-div {

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 195px;
  height: 180px;
  padding: 10px;
  margin: 10px;
  transition: opacity 1s ease-out;
}


.popular-city-div:hover {

  background-color: antiquewhite;
  cursor: pointer;
}


.popular-city-div div {

  text-align: center;
  
}

.popular-city-div .title {

  font-size: 30px;
  
}


/*forcast today section*/
#weather-now-sec {

  display: none;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 10px;
  margin-bottom: 20px;
  
}


#weather-now-div .icon-div {
  margin: 10px;
}


#weather-now-div .location-div {
 
  display: block;
  padding: 10px;
  font-size: 35px;
}

#weather-now-div .info-div {

  display: inline-block;
}

#weather-now-div .temp-div {

  display: inline-block;
  padding: 10px;
  font-size: 30px;
}

#weather-now-div .wind-div {

  display: inline-block;
  padding: 10px;
  font-size: 16px;
}

#weather-now-div .humidity-div {

  display: inline-block;
  padding: 10px;
  font-size: 16px;
}


/*forcast 5 days section*/

#weather-forcast-sec {
 
  display: none;
  margin-bottom: 50px;
}

#weather-forcast-div {
 
  display: block;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

#weather-forcast-div .date-div {
 
  display: inline-block;
  padding: 10px;
  font-size: 24px;
}

#weather-forcast-div .info-div {

  display: inline-block;
}

#weather-forcast-div .temp-div {

  display: inline-block;
  padding: 10px;
  font-size: 24px;
}

#weather-forcast-div .wind-div {

  display: inline-block;
  padding: 10px;
  font-size: 16px;
}

#weather-forcast-div .humidity-div {

  display: inline-block;
  padding: 10px;
  font-size: 16px;
}


#weather-forcast-sec .title-div {

  display: block;
  padding: 10px;
  font-size: 24px;
  margin-bottom: 20px;
}


/* footer section */
footer {
  display: block;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}
