/*header section*/
header {

  font-family: "Caveat";
  text-align: center;
}

.weather-icon {
  width: 70px;
}


/*main section*/
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}


#current-day {

  vertical-align: middle;
}

.current-hour-div {

  margin-top: 5px;
  font-size: 12px;
  color:grey;
}

#tips {
  display: block;
  height: 30px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: bold;
  color: green;
}

#planner {
  display: block;
  max-width: 1500px;
  margin:auto;
}

#planner textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
}



.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
  border: 1px solid rgb(240, 240, 255);
}

.time-block:hover {
  background-color: bisque;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: rgb(255, 255, 255, 0.8);
  color: #000000;
  border: 1px solid rgb(201, 201, 201);
  border-right: 1px solid rgb(82, 82, 82);
  border-bottom-right-radius: 15px;
}

.past {
  background-color: #e9e9e9;
  color: white;
}

.present {
  background-color: #ffb3af;
  color: white;
}

.future {
  background-color: #e1e2ff;
  color: white;
}

.saveBtn {
  border: 1px solid rgb(223, 223, 223);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(133, 197, 231);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}



/* footer section */
footer {
  display: block;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  margin-top: 100px;
}
